.title-contact {
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}

.title-contact span {
  color: var(--sub-title);
  margin-right: 10px;
}

.sub-title-con {
  color: var(--sub-title);
  margin-top: 10px;
  margin-bottom: 40px;
}

.boxes {
  display: flex;
  gap: 20px;
}

.left-box {
  flex-basis: 50%;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.left-box label {
  margin: 10px;
  color: var(--sub-title);
}

.left-box .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-box label {
  margin: 10px;
  color: var(--sub-title);
}

.left-box input {
  margin: 10px;
  width: 350px; 
  padding: 5px 10px;
  font-size: 0.9rem;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--blue);
  background-color: var(--primary);
  transition: 0.4s;
}
.left-box textarea {
  margin-left: 10px;
  padding: 5px 10px;
  height: 150px;
  font-size: 1rem;
  width: 350px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--blue);
  transition: 0.4s;
  background-color: var(--primary);
}

.left-box button {
  padding: 5px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #ededed;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  color: var(--dark-blue);
  background-color: var(--primary);
  transition: 0.4s;
  cursor: pointer;
  font-weight: 500;
}

.left-box button:hover {
  color: var(--blue);
}

.left-box button:hover:active {
  scale: 0.8;
}

.right-box {
  flex-basis: 50%;

}

@media (max-width: 795px) {
  .con{
    margin: auto -10px !important;
  }
    .title-contact{
        margin-top: 50px;
    }

  .right-box {
    display: none;
  }

  .left-box {
    flex-basis: 100%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .left-box label {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .left-box div{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
  }

  .left-box input,
  .left-box textarea {
    width: 155%;
    margin: auto;
}

.left-box .bottom {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
  }

  .left-box button {
    width: 95%;
    margin: 10px auto;
    padding: 15px 20px;
  }
}