.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sections{
    display: flex;
}

.sections li{
    color: var(--sub-title);
    margin-right: 5px;
    letter-spacing: 0.10rem;
}

@media (max-width : 795px) {
    .footer{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}